{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
        <div class="header">
            <a href="/">Home</a>
            <p>Program Enkripsi dan Dekripsi Kuantum Caesar Cipher (QCC) v2.0</p>
        </div>
        <div class="content">
            <a href="/crypto" class="button">crypto</a>
            <a href="/steganography" class="button">Stegano</a>
        </div>
        <div class="footer">
            2200018411 Reyhanssan Islamey
        </div>
{% endblock %}