{% extends 'base.html' %}
{% block title %}Steganography{% endblock %}
{% block content %}
    <div class="header">
            <a href="/">Home</a>
            <p>Program Enkripsi dan Dekripsi Kuantum Caesar Cipher (QCC) v2.0</p>
        </div>
        <div class="content">
            <h2 class="center-text">Sisipkan Pesan anda</h2>
            <a href="/insert" class="button">Sisipkan pesan</a>
            <a href="/extract" class="button">Ekstrak Pesan</a>
        </div>
        <div class="footer">
            2200018411 Reyhanssan Islamey
        </div>
{% endblock %}